img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /*position: absolute;*/

    /* Crop image to the left, to make sure lower mipmaps are removes */
    object-fit: cover;
    object-position: 0 0;
}