<div class="item-group-header header" [ngClass]="collapsed ? 'collapsed' : ''" (click)="itemGroupContainerCollapseClick()">
    {{itemGroupOption.itemGroup.name}}
    <div class="fa fa-chevron-circle-down collapser" [ngClass]="collapsed ? 'collapsed' : ''"></div>
</div>

<div #itemGroupContainer class="item-group-container collapsable" [style.visibility]="collapsed ? 'hidden' : 'visible'" ><!--(transitionstart)="itemGroupContainer.style.visibility = 'visible'" (transitionend)="itemGroupContainer.style.visibility = collapsed ? 'hidden' : 'visible'">--->
    <div class="item-group collapsable">
        <app-item-options #itemOptions class="item-group-item" *ngFor="let item of itemGroupOption.items; let i = index" [id]="itemGroupOption.itemGroup.name + id + i" [item]="item"></app-item-options>
    </div>
</div>
