<div class="checkbox">
    <input type="checkbox" id="machine_option_displayed_{{id}}" [(ngModel)]="machineOption.displayedInRecipe" />
    <label for="machine_option_displayed_{{id}}"></label>
</div>
<ng-container *ngIf="machine.icon.length == 0">
    <img src="assets/icons/__Unknown__.png" />
</ng-container>
<ng-container *ngFor="let icon of machine.icon; let i = index">
    <img src="assets/icons/{{machine.icon[i]}}" />
</ng-container>
<span>{{machine.name}}</span>
<div class="statistics">
    Speed
    <input type="number" min="-10000" max="10000" step="0.01" [(ngModel)]="machineOption.speedModifier" />
    % - Production
    <input type="number" min="-10000" max="10000" step="0.01" [(ngModel)]="machineOption.productionModifier" />
    %
</div>
