.header {
    margin-bottom: 20px;

    border: none;
}

.button-group {
    display: flex;
    flex-flow: row;

    margin-top: 5px;
}

.button-group .button:first-child {
    margin-right: 6px;
}

.button {
    flex: 1;

    padding: 7px 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #105a92;

    color: white;

    background: #1784d7;
    text-align: center;

    user-select: none;
}

.button.red {
    box-shadow: 0 5px #910F0F;
    background: #D61717;
}

.button.green {
    box-shadow: 0 5px #0E912D;
    background: #17D644;
}

.button:hover {
    background: #1576c0;
}

.button.red:hover {
    background: #BF1515;
}

.button.green:hover {
    background: #15BF3C;
}

.button:active {
    transform: translateY(2px);

    box-shadow: 0 3px #105a92;

    background: #1576c0;
}

.button.red:active {
    box-shadow: 0 3px #910F0F;

    background: #BF1515;
}

.button.green:active {
    box-shadow: 0 3px #0E912D;

    background: #15BF3C;
}

.modal-controls {
    margin-top: 15px;
}

.icon {
    filter: drop-shadow(0 0 5px white);
}

span {
    flex: 1;
    margin-left: 5px;
}

.combobox {
    margin: auto;
    width: 350px;
    background-color: #6B6B6C;
    color: white;
}

.combobox-input {
    border: none;
    padding: 10px;
    font-size: 18px;
    border-bottom: 2px solid #909191;

    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
}

.combobox-input:focus {
    outline-style: none;
}

.combobox-options {
    position: absolute;
    width: 350px;
    max-height: 350px;
    overflow-y: auto;
    z-index: 1;
    background-color: #6B6B6C;
}

.selected {
    background-color: #1576c0;
}

.list-item {
    font-size: 18px;
    padding: 5px 10px;

    overflow-wrap: break-word;
    display: flex;
    flex-direction: row;
    align-items: center;

    user-select: none;
}

.list-item:hover {
    background-color: #105a92;
}
