<div class="checkbox">
    <input type="checkbox" id="machine_option_displayed_{{id}}" [(ngModel)]="machineOption.displayedInRecipe" />
    <label for="machine_option_displayed_{{id}}"></label>
</div>
<app-icon-renderer class="icon" [icon]="machine.icon" [componentSize]="32"></app-icon-renderer>
<span>{{machine.name}}</span>
<div class="statistics">
    Speed
    <input type="number" min="-10000" max="10000" step="0.01" [(ngModel)]="machineOption.speedModifier" />
    % - Production
    <input type="number" min="-10000" max="10000" step="0.01" [(ngModel)]="machineOption.productionModifier" />
    %
</div>
