:host {
    display: block;
    width: 650px;
}

.header {
    margin-bottom: 20px;

    border: none;
}

.content {
    padding: 7px 10px;
    text-align: center;
}

.spinner {
    animation: rotate 2s linear infinite;
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
    stroke: #1784d7
}

.path {
    stroke: hsl(210, 70, 75);
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite
}

@keyframes rotate {
    100% {
        transform: rotate(360deg)
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0
    }

    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35
    }

    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124
    }
}

input[type="file"] {
    position: absolute;

    width: 0px;
    height: 0px;

    visibility: hidden;
    z-index: -1;
}

input.path-preview,
input.path-preview:focus {
    flex: 1;

    padding: 7px 10px;

    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
    outline: 0px;

    user-select: none;

    font-family: -apple-system, 'Lato', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

.button-group {
    display: flex;
    flex-flow: row;

    margin-bottom: 10px;
}

.button-group .button:first-child {
    margin-right: 6px;
}

.input,
.button {
    flex: 0;

    padding: 7px 10px;

    border: none;
    border-radius: 0px 5px 5px 0px;

    color: white;

    background: #1784d7;
    text-align: center;
    white-space: nowrap;

    user-select: none;
}

.button:not(.simple) {
    flex: 1;
}

.button.red {
    border-radius: 5px;
    box-shadow: 0 5px #910F0F;
    background: #D61717;
}

.button.green {
    border-radius: 5px;
    box-shadow: 0 5px #0E912D;
    background: #17D644;
}

.button:hover {
    background: #1576c0;
}

.button.red:hover {
    background: #BF1515;
}

.button.green:hover {
    background: #15BF3C;
}

.button:active {
    background: #1265a5;
}

.button:not(.simple):active {
    transform: translateY(2px);

    box-shadow: 0 3px #105a92;
}

.button.red:active {
    box-shadow: 0 3px #910F0F;

    background: #BF1515;
}

.button.green:active {
    box-shadow: 0 3px #0E912D;

    background: #15BF3C;
}

.modal-controls {
    margin-top: 15px;
}

.fa.info {
    position: relative;
}

.fa.info::before {
    margin-left: 5px;

    color: #1784d7;
    font-size: 38px;

    user-select: none;
}

.fa.info .tooltip {
    font-family: -apple-system,
        'Lato',
        'Helvetica Neue',
        'Helvetica',
        'sans-serif';

    visibility: hidden;

    position: absolute;
    z-index: 100;

    bottom: 125%;
    left: 50%;

    opacity: 0;
    transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.fa.info:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip .tooltip-content {
    position: relative;

    left: -50%;

    padding: 5px;

    background-color: rgba(27, 28, 29, 0.8);
    color: #fff;

    white-space: nowrap;

    border-radius: 6px;
}

.tooltip .tooltip-content::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;

    margin-left: -5px;
    border-width: 5px;

    border-style: solid;
    border-color: rgba(27, 28, 29, 0.8) transparent transparent transparent;
}
